body {
  width: auto;
  margin: 30px 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
}

h2 {
  font-weight: 800;
  color: darkgoldenrod;
  padding-bottom: 30px;
  text-align: center;
}

p {
  text-align: justify;
}

img {
  max-width: 75%;
  height: auto;
}
